.tenant-card,
.selected {
    transition: filter 0.25s ease, transform 0.25s ease, box-shadow 0.25s ease;
}

.selected {
    filter: brightness(0.8);
    transform: scale(1.05);
}

.tenant-card:hover {
    filter: brightness(0.8);
    transform: scale(1.05);
    box-shadow: 0px 2px 6px #009FC3;
}

.tenant-img {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
}

.tenant-card-body {
    display: flex;
    align-items: center;     
    justify-content: center;
    text-align: center;      
    min-height: 80px;        
    padding: 0.5rem;         
}