/* initial state */
.tenant-enter {
  opacity: 0;
  transform: scale(0.95);
}

/* animate to this */
.tenant-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 300ms ease;
}

/* exit start */
.tenant-exit {
  opacity: 1;
  transform: scale(1);
}

/* animate out */
.tenant-exit-active {
  opacity: 0;
  transform: scale(0.95);
  transition: all 300ms ease;
}