.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom: 2px solid #ffffff;
    margin-bottom: 1rem;
}

.navbar-title {
  flex: 1;                   /* takes available space */
  text-align: center;        /* centers the text */
  font-size: 1.5rem;
  font-weight: bold;
  color: white
}

.navbar-buttons {
    display: flex;
    gap: 0.5rem
}

.navbar-link,
.navbar-button {
    background-color: white;
    color: #009FC3;
    font-weight: 600;
    border: 0.1rem solid transparent;
    transition: transform 0.35s ease,
                filter 0.35s ease,
                box-shadow 0.35s ease,
                border-color 0.35s ease;
}

.navbar-link:hover,
.navbar-button:hover {
    color: #009FC3;
    transform: scale(1.05);
    filter: brightness(0.9);
    background-color: #ffffff;
    border-color: #009FC3;
    box-shadow: 0 2px 6px #2949a1;
}