.generate-report {
    padding: 1rem;
    margin-top: 1rem;
    background-color: white;
    color: #009FC3;
    font-weight: 600;
    border: 0.1rem solid transparent;
    transition: transform 0.3s ease,
                box-shadow 0.3s ease,
                filter 0.3s ease,
                border-color 0.3s ease;
}

.generate-report:disabled,
.generate-report:hover {
    color: #009FC3;
    transform: scale(1.05);
    filter: brightness(0.9);
    background-color: #ffff;
    border-color: #009FC3;
    box-shadow: 0 2px 6px #2949a1;
}

.generate-report:disabled {
    transform: none;
}