.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;          
  align-items: center;         
  justify-content: center;     
  z-index: 1000;
}

.modal-content {
  background: white;
  color: black;
  padding: 2rem;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  z-index: 1001;
  transform: scale(0.95);
  opacity: 0;
  transition: all 0.3s ease;
  display: flex;
}

.modal-content.preview-modal-content {
  max-width: fit-content;
  padding-top: 1rem;
  background-color: #3c3c3c;
}

.modal-overlay.show .modal-content {
  transform: scale(1);
  opacity: 1;
}

.modal-overlay.preview-modal-overlay {
  z-index: 2000;
}

.modal-content.preview-modal-content {
  z-index: 2001;
}

.modal-overlay.preview-modal-overlay.show .modal-content.preview-modal-content {
  transform: scale(1);
  opacity: 1;
}

.modal-header,
.modal-body,
.modal-footer {
    justify-content: center;
}
.modal-header {
    margin-bottom: 0.5rem;
}

.modal-body {
  margin-bottom: 0.5rem;
}

.modal-progress {
    text-align: center;
}

