#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 1rem;
  text-align: center;
  background-color: rgb(21, 69, 131);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 1rem;
  margin-top: 2rem;
}
